@font-face {
  font-family: "iconfont"; /* Project id 3979309 */
  src: url('iconfont.woff2?t=1679991171991') format('woff2'),
       url('iconfont.woff?t=1679991171991') format('woff'),
       url('iconfont.ttf?t=1679991171991') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error-fill:before {
  content: "\e839";
}

.icon-submit-o:before {
  content: "\e746";
}

.icon-submit:before {
  content: "\e747";
}

