body{
	margin: 0;
}
.app {
	background-color: rgb(255,250,232);
	padding: 0;
	margin: 0 ;
	display: block;
	width: 100vw;
	height: 100vh;
	overflow-y:hidden;
	position: relative;
}

.content{
	padding: 0 0.8rem;
	padding-bottom: 2rem;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	box-sizing: border-box;
	position: relative;
}
.content .error{
		font-size: 1rem;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding: 0.6rem;
		background-color: lightgray;
		color: red;
		text-align: center;
		border-radius: 0.2rem;
	}
.icon-error-fill{
	vertical-align: middle;
	font-size: 1.8rem !important;
	}
.conversition{
	margin-bottom: 1.2rem;
	font-family: monospace;
}

.question-block{
	background-color: rgb(252, 255, 226);
	font-size: 0.8rem;
	margin: 0.4rem 0;
	padding: 0.9rem 0;
	color: #263443;	
}


.response-block{
	/* background-color: rgb(235, 255, 247); */
	font-size: 0.8rem;
	color: #2b3d43;	
}

.bottom{
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2rem;
	/* border: .01rem solid #999; */
	/* background-color: white */
}
.input {	
	height: 100%;
	width: 80%;
	/* background-color: lightblue; */
	border: 0.01rem solid #999;
	display: flex;
	justify-content: center;
	}
.input input{	
	outline:none;  	
	border:none;
	height: 100%;
	width: 85%;
	padding-left: 0.5rem;
}
.input .submit{
	border:none;
	flex: 1;
	font-size: 1.5rem;
	background-color: white;
	/* border-left:0.01rem solid #999 ; */
	
}
.input .submit .icon-submit{
	font-size: 1.5rem;
}
.input .submit .icon-submit:hover{
	color: green;
	font-size: 1.8rem;
}
.bottom .clearall{
	font-size: 0.8rem;
	flex: 1;
	height: 100%;
}

code {
    /*实现代码块左右滑动*/
/* 	display: block;
    white-space: pre !important;
    overflow-x: auto !important;
    word-break: keep-all !important;
    word-wrap: initial !important; */
}

.hljs {
    /* display: block; */
    /* overflow-x: auto; */
    /* padding: 0.5em; */
    /* white-space: pre; */
}

