body{
	margin: 0;
}
.app {
	background-color: rgb(255,250,232);
	padding: 0;
	margin: 0;
	display: block;
	width: 100vw;
	height: 100vh;
	overflow-y:hidden;
	position: relative;
}

.content{
	/* padding: 0 0.8rem; */
	width: 100%;
	height: calc(100% - 2rem);
	overflow-y: scroll;
	box-sizing: border-box;
	position: relative;
}

.conversition{
	margin-bottom: 1.2rem;
	font-family: monospace;
}

.question-block{
	background-color: rgb(252, 255, 226);
	font-size: 0.8rem;
	margin: 0.4rem 0;
	padding: 0.9rem 0.8rem;
	color: #263443;	
}


.response-block{
	/* background-color: rgb(235, 255, 247); */
	font-size: 0.8rem;
	padding: 0 0.8rem;
	color: #2b3d43;
	word-wrap:break-word; 
	word-break:normal;
}

.bottom{
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2rem;
	/* border: .01rem solid #999; */
	/* background-color: white */
}

/* 滚动条所在容器 */
.scroll-container {
}

/* 滚动条整体 */
.scroll-container::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
/* 两个滚动条交接处 -- x轴和y轴 */
.scroll-container::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* 滚动条滑块 */
.scroll-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(255, 251, 227, 1.0);
    background: #dcd7bd;
}

/* 滚动条轨道 */
.scroll-container::-webkit-scrollbar-track {
/*    -webkit-box-shadow: inset 0 0 5px rgba(238, 255, 216, 1.0);
    border-radius: 10px; */
    background: rgb(255,250,232);
}

/* 滚动条两端按钮 */
.scroll-container::-webkit-scrollbar-button {
}

code {
    /*实现代码块左右滑动*/
/* 	display: block;
    white-space: pre !important;
    overflow-x: auto !important;
    word-break: keep-all !important;
    word-wrap: initial !important; */
}

.hljs {
    /* display: block; */
    /* overflow-x: auto; */
    /* padding: 0.5em; */
    /* white-space: pre; */
}

