body{
	margin: 0;
}
.app {
	background-color: rgb(255,250,232);
	padding: 0;
	margin: 0;
	display: block;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
}

.conversition{
	margin-bottom: 1.2rem;
	font-family: monospace;
	
}

.question-block{
	background-color: rgb(252, 255, 226);
	font-size: 0.8rem;
	margin: 0.4rem 0;
	padding: 0.9rem 0;
	color: #263443;	
}


.response-block{
	/* background-color: rgb(235, 255, 247); */
	font-size: 0.8rem;
	color: #2b3d43;	
}

code {
    /*实现代码块左右滑动*/
	display: block;
    white-space: pre !important;
    overflow-x: auto !important;
    word-break: keep-all !important;
    word-wrap: initial !important;
}

.hljs {
    display: block;
    /* overflow-x: auto; */
    /* padding: 0.5em; */
    /* white-space: pre; */
}
